<div class="mat-app-background basic-container h-100vh">
    <mat-toolbar color="primary">
        <div class="d-flex w-100">
            <button class="mr-3" mat-button routerLink="/">Topocat</button>
            <button class="mr-auto" mat-button routerLink="/about">About</button>
            <button class="float-right mr-3" mat-button routerLink="login">Login</button>
            <button class="float-right" mat-button routerLink="sign-up">Sing Up</button>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

