<div class="d-flex">
    <mat-icon class="cursor-default"
              title="Area"
              matListIcon>terrain
    </mat-icon>
    <div class="mr-auto">
        <span matLine><b>{{area.title}}</b></span>
        <span matLine>{{area.description}} </span>
    </div>
    <div>
        <button mat-icon-button
                title="Center map"
                (click)="centerToObject(area)">
            <mat-icon matListIcon>my_location</mat-icon>
        </button>
        <button mat-icon-button
                title="Edit place"
                (click)="openEditAreaPopup(area)">
            <mat-icon matListIcon>edit</mat-icon>
        </button>
    </div>
</div>