.objects-list-card {
    position: absolute;
    top: 30px;
    left: 30px;
    min-height: calc(100vh - 124px);
}

.objects-list {
    max-height: calc(100vh - 188px);
    overflow: auto;
    min-width: 350px;
    width: 350px;
}

.list-item {
    height: 40px !important;
    width: 100%;
}

::ng-deep {
    .mat-list-item-content {
        padding: 0 !important;
    }
}

app-objects-list-item.active {
    background-color: #EEE;
}
