.objects-list-card {
    position: absolute;
    top: 30px;
    left: 30px;
}
.objects-list {
    max-height: calc(100vh - 188px);
    overflow: auto;
}

.list-item {
    height: 40px !important;
    min-width: 350px;
    max-width: 350px;
}

::ng-deep {
    .mat-list-item-content {
        padding: 0 !important;
    }
}

app-objects-list-item.active {
    background-color: #EEE;
}
