.objects-list {
    max-height: calc(100vh - 305px);
    overflow: auto;
    min-width: 350px;
    width: 350px;
}

.list-item {
    height: 40px !important;
    width: 100%;
}

::ng-deep {
    .mat-list-item-content {
        padding: 0 !important;
    }
}

app-objects-list-item.active {
    background-color: #EEE;
}

.footer-content{
    vertical-align: middle;
    height: 64px;
}

.add-button {
    right: 12px;
    bottom: 12px;
    display: block;
    position: absolute;
}
