<div class="d-flex h-100 w-100 lh-40px visible-on-hover cursor-pointer" (click)="center()">
    <div class="p-0 icon-wrapper">
        <span class="mdi mdi-24px"
              [class.mdi-map-marker-outline]="type === WktPrimitives.Point"
              [class.mdi-vector-polyline]="type === WktPrimitives.LineString"
              [class.mdi-vector-polygon]="type === WktPrimitives.Polygon">
        </span>
    </div>

    <div class="p-0 mr-auto title">
        <span [title]="object.title">{{object.title}}</span>
    </div>

    <div class="p-0 toggle-visibility float-right d-flex">
        <div mat-ripple
             class="p-0 icon-wrapper cursor-pointer"
             (click)="onShowInfoClick($event)"
             title="Details">
            <span class="mdi mdi-24px mdi-map-marker-question-outline"></span>
        </div>
    </div>
</div>
