.icon-wrapper {
    width: 40px;
    min-width: 40px;
    text-align: center;
    background-color: transparent;
}

.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.visible-on-hover {

    .toggle-visibility {
        span {
            transition: visibility 0s, opacity 0.2s linear;
            visibility: hidden;
            opacity: 0;
        }
    }

    &:hover {
        .toggle-visibility {
            span {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.tags-row {
    font-size: 12px;
}

