<div class="control-toolbar">
    <mat-card>
        <div>
            <form class="coords-form"
                  [formGroup]="centerForm">
                <mat-form-field class="mr-1">
                    <input matInput
                           formControlName="lat"
                           type="number"
                           placeholder="Latitude">
                </mat-form-field>
                <mat-form-field class="mr-1">
                    <input matInput
                           formControlName="lng"
                           type="number"
                           placeholder="Longitude">
                </mat-form-field>
                <mat-icon class="align-middle">gps_fixed</mat-icon>
            </form>
        </div>

        <mat-divider></mat-divider>

        <div class="mt-3">
            <form class="zoom-form"
                  [formGroup]="zoomForm">
                <mat-slider class="slider"
                            (input)="onZoomSliderChanged($event)"
                            thumbLabel="true"
                            min="0"
                            [max]="maxAllowedZoom"
                            step="1"
                            formControlName="zoom">
                </mat-slider>
                <mat-icon class="align-middle">zoom_in</mat-icon>
            </form>
        </div>
    </mat-card>
</div>