<div class="d-flex">
    <mat-icon class="cursor-default"
              title="Place"
              matListIcon>place
    </mat-icon>
    <div class="mr-auto">
        <span matLine><b>{{place.title}}</b></span>
        <span matLine>{{place.description}} </span>
    </div>
    <div>
        <button mat-icon-button
                title="Center map"
                (click)="centerToObject(place)">
            <mat-icon matListIcon>my_location</mat-icon>
        </button>
        <button mat-icon-button
                title="Edit place"
                (click)="openEditPlacePopup(place)">
            <mat-icon matListIcon>edit</mat-icon>
        </button>
    </div>
</div>