<div class="d-grid p-3">
    <label id="type-label">Map mode:</label>
    <mat-radio-group aria-labelledby="type-label"
                     class="example-radio-group d-grid p-2"
                     tabindex="1"
                     [value]="(mapMode$ | async)"
                     (change)="onMapTypeIdChange($event)">
        <mat-radio-button [value]="MapTypeId.ROADMAP" color="primary" cdkFocusInitial>Roadmap</mat-radio-button>
        <mat-radio-button [value]="MapTypeId.HYBRID" color="primary">Hybrid</mat-radio-button>
        <mat-radio-button [value]="MapTypeId.SATELLITE" color="primary">Satellite</mat-radio-button>
        <mat-radio-button [value]="MapTypeId.TERRAIN" color="primary">Terrain</mat-radio-button>
    </mat-radio-group>
</div>
