<div class="d-grid p-3">
    <label id="type-label">Map mode:</label>
    <mat-radio-group aria-labelledby="type-label"
                     class="example-radio-group d-grid p-2"
                     tabindex="1"
                     [value]="(mapMode$ | async)"
                     (change)="onMapTypeIdChange($event)">
        <mat-radio-button *ngFor="let mode of availableModes$ | async"
                          [value]="mode.value"
                          color="primary">
            {{mode.title}}
        </mat-radio-button>
    </mat-radio-group>
</div>
