<div class="component-container">
    <div style="border-bottom: rgba(0,0,0,.12) 1px solid">
        <button mat-button (click)="openNewPlacePopup()">New place</button>
        <button mat-button (click)="openNewAreaPopup()">New area</button>
    </div>
    <mat-list class="pt-0">
        <mat-list-item *ngFor="let object of entities"
                       [ngSwitch]="getType(object)"
                       class="list-item">
            <tc-place-list-item *ngSwitchCase="'Place'"
                                class="w-100"
                                [place]="object">
            </tc-place-list-item>
            <tc-area-list-item *ngSwitchCase="'Area'"
                               class="w-100"
                               [area]="object">
            </tc-area-list-item>
        </mat-list-item>
        <mat-list-item *ngIf="!entities.length">
            <mat-icon matListIcon>sentiment_dissatisfied</mat-icon>
            <span>No items...</span>
        </mat-list-item>
    </mat-list>
</div>