@import "src/variables";

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h-100vh {
    height: 100vh;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

@for $i from 1 through 64{
    .lh-#{$i}px {
        line-height: #{$i}px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.highlight-on-hover {
    &:hover {
        background-color: $selected;
    }
}
