<div class="container">
    <div class="d-flex sign-up-card-container">
        <h5>Sign up to Topocat</h5>
        <mat-card class="sign-up-card">
            <mat-card-content>
                <div>
                    <form [formGroup]="signUpForm">
                        <mat-form-field class="w-100">
                            <input matInput
                                   cdkFocusInitial
                                   tabindex="1"
                                   required
                                   formControlName="email"
                                   placeholder="Email">
                            <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
                                Email address is incorrect
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
                                Please enter email address
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput
                                   tabindex="2"
                                   required
                                   type="password"
                                   formControlName="password"
                                   placeholder="Password">
                            <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
                                Please enter password
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput
                                   tabindex="2"
                                   required
                                   type="password"
                                   formControlName="repeatPassword"
                                   placeholder="Password confirmation">
                            <mat-error *ngIf="signUpForm.controls['repeatPassword'].hasError('required')">
                                Please enter password confirmation
                            </mat-error>
                        </mat-form-field>

                        <mat-error *ngIf="signUpForm.hasError('passwordsMismatch')">
                            Passwords mismatch
                        </mat-error>
                        <mat-error *ngIf="signUpForm.hasError('server')">
                            {{signUpForm.errors['server']}}
                        </mat-error>

                        <div class="w-100">
                            <button mat-stroked-button
                                    tabindex="4"
                                    type="button"
                                    class="float-left mr-auto"
                                    routerLink="/login">
                                Go to login
                            </button>

                            <button color="primary"
                                    tabindex="3"
                                    type="submit"
                                    [disabled]="loading"
                                    class="float-right ml-auto"
                                    mat-raised-button
                                    (click)="onFormSubmit()">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

