.layout {
    height: calc(100vh - 64px);
}

.menu-button {
    min-width: 36px !important;
}

.sidenav-container {
    min-width: 200px;
    height: 100%;
}

.sidenav-row {
    display: table-row;
}

.active {
    font-weight: bold;
}
