.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-card {
    width: 450px;
    margin: 10px auto;
}

.sign-up-card-container {
    flex-direction: column;
    margin-bottom: 30vh;
}
