<div class="container">
    <div class="d-flex login-card-container">
        <h5>Forgot password?</h5>
        <mat-card class="login-card">
            <mat-card-content>
                <div *ngIf="showSuccessMessage">
                    <span>Email with further instructions was sent to your email address.</span>
                    <br>
                    <span>You will be redirected to login page soon...</span>
                </div>
                <div *ngIf="!showSuccessMessage">
                    <form [formGroup]="forgotPasswordForm">
                        <mat-form-field class="w-100">
                            <input matInput
                                   cdkFocusInitial
                                   required
                                   formControlName="email"
                                   placeholder="Email">
                            <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email')">
                                Email address is incorrect
                            </mat-error>
                            <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
                                Please enter email address
                            </mat-error>
                        </mat-form-field>

                        <mat-error *ngIf="forgotPasswordForm.hasError('server')">
                            {{forgotPasswordForm.errors['server']}}
                        </mat-error>

                        <div class="w-100">
                            <button mat-raised-button
                                    class="float-left mr-auto"
                                    routerLink="/login">Back to login</button>

                            <button color="primary"
                                    [disabled]="forgotPasswordForm.invalid || loading"
                                    class="float-right ml-auto"
                                    mat-raised-button
                                    (click)="onFormSubmit()">
                                Restore
                            </button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

