<mat-card class="h-100 w-100">
    <mat-card-header>
        Maps list
    </mat-card-header>
    <mat-card-content>
        <table *ngIf="!loading"
               mat-table
               [dataSource]="maps"
               class="mat-elevation-z8">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Created by</th>
                <td mat-cell *matCellDef="let element"> {{element.createdBy.email}} </td>
            </ng-container>

        </table>

    </mat-card-content>
</mat-card>


