@import "./src/variables";

.add-button {
    right: 16px;
    bottom: 16px;
    display: block;
    position: absolute;
}

.mat-card-content {
    max-height: calc(100vh - 130px);
}

.management-button {
    height: 36px;
}

.highlight-on-hover {
    &:hover {
        background-color: $selected;
    }
}
