<mat-card class="h-100 w-100">
    <mat-card-header>
        Map members
    </mat-card-header>
    <mat-card-content>
        <div class="table-container">
            <app-loader *ngIf="loading"></app-loader>
            <table *ngIf="!loading"
                   mat-table
                   [dataSource]="memberships"
                   class="mat-elevation-z8 w-100 mt-2">

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="line">
                        <span class="mdi mdi-24px mr-3"
                              [title]="getStatusDescription(element.status)"
                              [class.mdi-account-question]="element.status === MapMembershipStatus.DecisionNotMade"
                              [class.mdi-account-minus]="element.status === MapMembershipStatus.Declined"
                              [class.mdi-account-plus]="element.status === MapMembershipStatus.Accepted">
                        </span>
                            <span>{{element.invitedEmail}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef>Created at</th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'hh:mm dd-MM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="management">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item
                                    title="Manage map membership..."
                                    (click)="resendInvite(element.id)">Resend invite...
                            </button>
                            <button mat-menu-item
                                    title="Manage map membership..."
                                    (click)="cancelInvite(element.id)">Cancel invite...
                            </button>
                        </mat-menu>

                        <button *ngIf="hasAdminRights && element.status === MapMembershipStatus.DecisionNotMade"
                                mat-button
                                (click)="$event.stopImmediatePropagation()"
                                [matMenuTriggerFor]="appMenu"
                                class="management-button"
                                title="Open management menu">
                            <span class="mdi mdi-24px mdi-dots-vertical"></span>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    class="highlight-on-hover">
                </tr>
            </table>
        </div>
        <button mat-fab color="primary"
                class="add-button"
                (click)="openInviteDialog()">
            <span class="mdi mdi-24px mdi-plus"></span>
        </button>
    </mat-card-content>
</mat-card>


