@import "./src/variables";

.add-button {
    right: 16px;
    bottom: 16px;
    display: block;
    position: absolute;
}

.line {
    span {
        vertical-align: middle;
        line-height: 36px;
    }
}
